/.phpunit.cache
/node_modules
/public/build
/public/hot
/public/storage
/storage/*.key
/vendor
.env
.env.backup
.env.production
.phpactor.json
.phpunit.result.cache
Homestead.json
Homestead.yaml
auth.json
npm-debug.log
yarn-error.log
config-agent.log
ingress.yaml
open-appsec-config
open-appsec-k8s-install
open-appsec-k8s-install.log
open-appsec-k8s-nginx-ingress-latest.tgz
open-appsec-policy.yaml
open-appsec-tools/
/.fleet
/.idea
/.vscode
